:root{
  --mobile:576px;
  --tablet:768px;
  --laptop:992px;
  --desktop:1200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
}


@media (min-width:var(--mobile)){
  
}