:root{
  --mobile:576px;
  --tablet:768px;
  --laptop:992px;
  --desktop:1200px;
}



/*body{
  display: flex;
  align-items: center;
  justify-content: center;
} 

  #teams{
    display: flex;
    flex-direction: row;
  }*/

@media (min-width:576px) {
  body{
    background-color: "red";
  }
}